<form [formGroup]="secSection">
  <div class="p-3">
    <div class="grid">
      <div class="col-12 md:col-6 lg:col-6">
        <div class="p-fluid">
          <label>ชื่อ<span style="color: red">*</span></label>
          <div>
            <input type="text" pInputText formControlName="name" />
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="p-fluid">
          <label>คำอธิบาย<span style="color: red">*</span></label>
          <div>
            <input type="text" pInputText formControlName="description" />
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="p-fluid">
          <label>ราคา <span style="color: red">*</span></label>
          <div>
            <input type="number" pInputText formControlName="price" />
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="p-fluid">
          <label>จำนวนสินค้า <span style="color: red">*</span></label>
          <div>
            <input type="number" pInputText formControlName="stock_quantity" />
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="p-fluid">
          <label>ประเภทสินค้า <span style="color: red">*</span></label>
          <p-dropdown [options]="categoryOptions" optionValue="value" optionLabel="label" formControlName="category_id"
            placeholder="เลือกประเภทสินค้า">
          </p-dropdown>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="p-fluid">
          <label>สถานะสินค้า <span style="color: red">*</span></label>
          <input type="text" pInputText [value]="getStatusLabel(secSection.get('stock_quantity')?.value ?? null)" disabled />
        </div>
      </div>

    </div>
  </div>
</form>

<div class="grid mt-5" style=" justify-content: center;">
  <div class="flex gap-4">
    <p-button label="บันทึกข้อมูล" severity="success" (click)="save()" />
    <p-button label="กลับ" severity="info" (click)="goBack()" />
  </div>
</div>

