<form [formGroup]="secSection">
  <div class="p-3">
    <div class="grid">
      <div class="col-12 md:col-6 lg:col-6">
        <div class="p-fluid">
          <label>ชื่อ<span style="color: red">*</span></label>
          <div>
            <input type="text" pInputText formControlName="name" />
            <small class="p-error" *ngIf="secSection.get('name')?.invalid && secSection.get('name')?.touched">
              กรุณากรอกชื่อผู้ใช้
            </small>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="p-fluid">
          <label>คำอธิบาย<span style="color: red">*</span></label>
          <div>
            <input type="text" pInputText formControlName="description" />
            <small class="p-error" *ngIf="secSection.get('description')?.invalid && secSection.get('description')?.touched">
              กรุณากรอกคำอธิบาย
            </small>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="p-fluid">
          <label>ราคา <span style="color: red">*</span></label>
          <div>
            <input type="number" pInputText formControlName="price" />
            <small class="p-error" *ngIf="secSection.get('price')?.invalid && secSection.get('price')?.touched">
              กรุณากรอกราคา
            </small>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="p-fluid">
          <label>ประเภทสินค้า <span style="color: red">*</span></label>
          <p-dropdown [options]="categoryOptions" optionValue="value" optionLabel="label" formControlName="category_id"
            placeholder="เลือกประเภทสินค้า">
          </p-dropdown>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="grid mt-5" style=" justify-content: center;">
  <div class="flex gap-4">
    <p-button *ngIf="secSection.valid && action !== 'DETAIL'" label="บันทึกข้อมูล" severity="success" (click)="save()">
    </p-button>

    <p-button *ngIf="secSection.invalid && action !== 'DETAIL'" label="บันทึกข้อมูล" severity="success"
      [disabled]="true">
    </p-button>
    <p-button label="กลับ" severity="info" (click)="goBack()" />
  </div>
</div>