<form [formGroup]="secSelection"> 
  <div class="p-3">
  <div class="grid">
    <div class="col-12 md:col-6 lg:col-6">
      <div class="p-fluid">
        <label>ชื่อ<span style="color: red">*</span></label>
        <div>
          <input type="text" pInputText formControlName="name" />
        </div>
        <small class="p-error" *ngIf="secSelection.get('name')?.invalid && secSelection.get('name')?.touched">
          กรุณากรอกชื่อ
        </small>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-6">
      <div class="p-fluid">
        <label>รายละเอียด <span style="color: red">*</span></label>
        <div>
          <input type="text" pInputText formControlName="description"/>
        </div>
        <small class="p-error" *ngIf="secSelection.get('description')?.invalid && secSelection.get('description')?.touched">
          กรุณากรอกคำอธิบาย
        </small>
      </div>
    
    </div>
  </div>
  </div>
</form>

<div class="grid mt-5" style=" justify-content: center;">
    <div class="flex gap-4">
      <p-button [hidden]="this.action == 'DETAIL'" label="บันทึกข้อมูล" severity="success" (click)="save()"/>
      <p-button label="กลับ" severity="info" (click)="goBack()" />
    </div>
</div>