<form [formGroup]="secSection">
  <div class="p-3">
    <div class="grid">
      <div class="col-12 md:col-6 lg:col-6">
        <div class="p-fluid">
          <label>ชื่อสินค้า <span style="color: red">*</span></label>
          <p-dropdown [options]="productsList" optionValue="value" optionLabel="label" formControlName="productId"
            placeholder="เลือกสินค้า">
          </p-dropdown>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="p-fluid">
          <label>โซน <span style="color: red">*</span></label>
          <p-dropdown [options]="zoneList" optionValue="value" optionLabel="label" formControlName="zoneId"
            placeholder="เลือกโซน">
          </p-dropdown>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="p-fluid">
          <label>จำนวนสินค้า <span style="color: red">*</span></label>
          <div>
            <input type="number" pInputText formControlName="quantity" />
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="p-fluid">
          <label>ราคาขาย <span style="color: red">*</span></label>
          <div>
            <p-inputNumber mode="currency" currency="THB" type="number" formControlName="priceSale" />
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="p-fluid">
          <label>ส่วนลดโซน <span style="color: red">*</span></label>
          <div>
            <input pInputText [value]="getZoneDiscount(secSection.value.zoneId ?? null) !== null ? getZoneDiscount(secSection.value.zoneId ?? null) + ' %' :''" readonly />
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="p-fluid">
          <label>สถานะสินค้า <span style="color: red">*</span></label>
          <div class="flex gap-3">
            <p-radioButton
              name="status"
              value="ACTIVE"
              formControlName="status"
              inputId="statusActive"
            ></p-radioButton>
            <label for="statusActive">เปิดการขายสินค้า</label>

            <p-radioButton
              name="status"
              value="DISIBLE"
              formControlName="status"
              inputId="statusDisable"
            ></p-radioButton>
            <label for="statusDisable">ปิดการขายสินค้า</label>
          </div>

            
          
        </div>
        <div>ราคาต้นทุน: {{getProductPrice(secSection.value.productId ?? null)}} </div>
        <div>
          ราคารวม: {{ getTotalPrice(secSection.value.priceSale, secSection.value.quantity) }}</div>
        <div>ราคาต่อหน่วยหลังส่วนลด: {{ getPricediscount(secSection.value.priceSale, getZoneDiscount(secSection.value.zoneId ?? null)) }}</div>
        ราคารวมหลังส่วนลด: {{ getTotalPriceWithDiscount(secSection.value.priceSale, secSection.value.quantity,
        getZoneDiscount(secSection.value.zoneId ?? null)) }}
        <div>กำไรต่อชิ้น: {{ getProfit(getPricediscount(secSection.value.priceSale, getZoneDiscount(secSection.value.zoneId ?? null)), getProductPrice(secSection.value.productId ?? null)) | number:'1.2-2' }} THB</div>
          <div>กำไรรวม {{getTotalProfit(getProfit(getPricediscount(secSection.value.priceSale, getZoneDiscount(secSection.value.zoneId ?? null)), getProductPrice(secSection.value.productId ?? null)),secSection.value.quantity)| number:'1.2-2' }} THB</div>
          
      </div>

      


    </div>
  </div>
</form>

<div class="grid mt-5" style=" justify-content: center;">
  <div class="flex gap-4">
    <p-button label="บันทึกข้อมูล" severity="success" (click)="save()" />
    <p-button label="กลับ" severity="info" (click)="goBack()" />
  </div>
</div>