<div class="p-3">
  <div style="background-color: yellow" class="grid">
    <div class="grid" >
      <div class="p-fluid col-12">
        <label>ชื่อผู้ใช้ <span style="color: red">*</span></label>
        <div>
          <input type="text" pInputText />
        </div>
      </div>
      <div class="p-fluid col-12">
        <label>ชื่อผู้ใช้ <span style="color: red">*</span></label>
        <div>
          <input type="text" pInputText />
        </div>
      </div>
    </div>

    <div class="col-12 md:col-6 lg:col-6">
      <div class="p-fluid">
        <label>สิทธ์การใช้งาน <span style="color: red">*</span></label>
        <div>
          <input type="text" pInputText />
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-6">
      <div class="p-fluid">
        <label>สิทธ์การใช้งาน <span style="color: red">*</span></label>
        <div>
          <input type="text" pInputText />
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-6">
      <div class="p-fluid">
        <label>สิทธ์การใช้งาน <span style="color: red">*</span></label>
        <div>
          <input type="text" pInputText />
        </div>
      </div>
    </div>

  </div>
  <div class="grid mt-5" style=" justify-content: center;">
    <div class="flex gap-4">
      <p-button label="บันทึกข้อมูล" severity="success" />
      <p-button label="กลับ" severity="info" />
    </div>

  </div>
</div>
